* { 
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background-image: url('./images/background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HOME BUTTON/MOBILE NAV (IN HEADER) */

header {
    display: block;
    position: absolute;
    top: 5px;
    left: 15px;
    font-family: monospace;
    color: white;

}

header li {
    color: white;
}

header li:hover {
    color: black;
}

h4 {
    font-weight: 200;
}

header h4:hover {
    cursor: pointer;
    color: black;
}

#home-button {
    font-family: monospace;
    color: white;
}

#home-button:hover {
    color: black;
}

.top-nav {
    display: block;
}

.top-nav li {
    display: block;
}

/* DESKTOP BOTTOM NAVS */
    /* (li and li a styling is inherited by top-nav) */

.page-navs {
    max-width: 700px;
    margin: auto;
    list-style: none;
    width: 100%;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

li {
    display: inline-block;
    padding: 0 50px;
}

li a {
    color: black;
    text-decoration: none;
}

footer {
    position: fixed;
    overflow-x: scroll;
    bottom: 0;
    width: 100%;
    background-color: beige;
    z-index: 2;

}

footer nav ul li {
    font-size: 100%;
}

/* NAV LIST ITEM STYLING - INHERITED BY TOP AND BOTTOM NAVS */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 65, 65);
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}


/* MEDIA QUERIES: HOME BUTTON IS REPLACED BY TOP-NAV @ 480PX */


@media only screen and (max-width: 700px) {
    li {
        display: inline-block;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 479px) {
    #home-button {
        display: none;
    }

    nav {
        display: none;
    } 

}

@media only screen and (min-width: 480px) {
    .top-nav {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    ul {
        display: none;
    }

    .clickynav {
        display: block;
    }

}

/* CENTRAL INFO-LIST CONTAINER */

.info-list {
    max-width: 700px;
    max-height: 550px;
    margin: 150px auto;
    padding: 10px;
    overflow: scroll;

}

/* CONTAINER FOR EACH MIX INCL:
    IMG STYLING
    TEXT STYLING (H2,P) */

.inside-info-list {
    max-width: 610px;
    max-height: 230px;
    margin: 15px auto 25px;
    overflow: hidden; 
    display: flex;
}

.info-list img {
    height: 230px;
    width: 230px;
    float: left;
} 

.desktop-info-list-text {
    padding: 0 0 5px 10px;
    width: 370px;
    height: 220px;
    display: inline-block;
}

.mobile-info-list-text {
    display: none;
}

h2 {
    text-decoration: underline;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}

p {
    font-family: monospace;
} 

/* MEDIA QUERY: .desktop-info-list-text DISAPPEARS @ <480px */

@media only screen and (max-width: 480px) {
    .desktop-info-list-text {
        display: none;
    }
} 

/* MEDIA QUERY: .mobile-info-list-text APPEARS @ <480px */

@media only screen and (max-width: 480px) {
    .mobile-info-list-text {
        padding: 0 0 5px 10px;
        width: 370px;
        height: 220px;
        display: inline-block;
    }
}

/* MEDIA QUERY: .mobile-info-list-text DISAPPEARS @ >480px */

@media only screen and (min-width: 480px) {
    .mobile-info-list-text {
        display: none;
    }
}

/* MEDIA QUERY: .mobile-info-list-text SMALLER LINE HEIGHT @ <375px */

@media only screen and (max-width: 375px) {
    .mobile-info-list-text p {
        line-height: 1;
    }

    .info-list img {
        max-width: 200px;
        max-height: 200px;
    } 
} 