 * { 
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background-image: url('./images/background2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: block;
    position: absolute;
    top: 5px;
    left: 15px;
    font-family: monospace;
    color: white;

}

header li {
    color: white;
}

header li:hover {
    color: black;
}

h4 {
    font-weight: 200;
}

header h4:hover {
    cursor: pointer;
    color: black;
}

#home-button {
    font-family: monospace;
    color: white;
}

#home-button:hover {
    color: black;
}

.top-nav {
    display: block;
}

.top-nav li {
    display: block;
}

/* default behaviour - top-nav is hidden */

@media only screen and (min-width: 480px) {
    .top-nav {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    ul {
        display: none;
    }

    .clickynav {
        display: block;
    }
}

.foreground-container {
    max-width: 700px;
    max-height: 500px;
    margin: 150px auto 5px;
}

.foreground-container img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.page-navs {
    max-width: 700px;
    margin: auto;
}

.page-navs ul {
    list-style: none;
    width: 100%;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    margin: 0 auto;
}

li {
    display: inline-block;
    padding: 0 50px;
}

li a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .foreground-container {
        max-width: 700px;
        max-height: 500px;
        margin: 150px 20px 5px 20px;
    }

    li {
        display: inline-block;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 479px) {
    #home-button {
        display: none;
    }

    nav {
        display: none;
    } 

}

footer {
    position: fixed;
    overflow-x: scroll;
    bottom: 0;
    width: 100%;
    background-color: beige;
    z-index: 2;

}

footer nav ul li {
    font-size: 100%;
}

.info-list {
    max-width: 700px;
    max-height: 500px;
    margin: 150px auto 5px;
}

 .about {
    padding: 20px; 
} 

/*
.info-list {
    max-width: 700px;
    max-height: 550px;
    margin: 150px auto;
    overflow: scroll;
    border: solid 1px red;

}

.inside-info-list {
    max-width: 610px;
    max-height: 230px;
    margin: 15px auto;
    border: solid 1px greenyellow ;
    overflow: hidden; 
}

.info-list img {
    height: 230px;
    width: 230px;
    float: left;
}

.info-list-text {
    margin: 0 0 0 10px;
    width: 370px;
    height: 220px;
    display: inline-block;
}

h2 {
    text-decoration: underline;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
}
*/
h3 {
    font-family: 'Sora', sans-serif;
}

p {
    font-family: monospace;
} 

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 65, 65);
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

/* .tracklist {
    font-family: monospace;
    margin: 15px 0 0 15px;
    line-height: 1.5;
} */